<footer class="gray-bg footer-padding">
    <div class="container-fluid">
        <div class="footer-top pt-85 pb-25">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="footer-widget mb-30">
                        <div class="footer-widget-title">
                            <h3>Kết nối với chúng tôi</h3>
                        </div>
                        <div class="food-info-wrapper">
                            <div class="food-address">
                                <div class="food-info-icon">
                                    <i class="ion-ios-home-outline"></i>
                                </div>
                                <div class="food-info-content">
                                    <p>{{ .Site.Params.address }} </p>
                                </div>
                            </div>
                            <div class="food-address">
                                <div class="food-info-icon">
                                    <i class="ion-ios-telephone-outline"></i>
                                </div>
                                <div class="food-info-content">
                                    <p>{{ .Site.Params.phone }} </p>
                                </div>
                            </div>
                            <div class="food-address">
                                <div class="food-info-icon">
                                    <i class="ion-social-facebook-outline"></i>
                                </div>
                                <div class="food-info-content">
                                    <h4><span class="text-secondary">Facebook:</span>  
                                        <a style="color: #f3a395;" href="https://www.facebook.com/profile.php?id=100083383260083&mibextid=LQQJ4d">
                                            {{ .Site.Params.facebook }}
                                        </a></span>
                                    </h4>
                                </div>
                            </div>
                            <div class="food-address">
                                <div class="food-info-icon">
                                    <i class="ion-ios-email-outline"></i>
                                </div>
                                <div class="food-info-content">
                                    <p><a href="#z">{{ .Site.Params.email }}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3">
                    <div class="footer-widget mb-30">
                        <div class="footer-widget-title">
                            <h3>Thông tin</h3>
                        </div>
                        <div class="food-widget-content">
                            <ul class="quick-link">
                                <li><a href="#z">Giấy phép kinh doanh số: <strong>2100679981</strong></a></li>
                                <li><a href="#z">Shipping & Thuế</a></li>
                                <li><a href="#z">Chính sách đổi trả</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="footer-widget mb-30">
                        <div class="footer-widget-title">
                            <h3>Tin tức</h3>
                        </div>
                        <div class="twitter-info-wrapper">
                            <div class="single-twitter">
                                <div class="twitter-icon">
                                    <i class="ion-social-twitter-outline"></i>
                                </div>
                                <div class="twitter-content">
                                    <p>Logo mới của Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm <a class="link2" href="/blog">Câu chuyện</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom border-top-1 ptb-15">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="copyright-payment">
                        <div class="copyright">
                            <p>Copyright ©  2023 <a href="#z"> <strong>Hợp tác xã thủ công mỹ nghệ Nhất Tâm</strong></a> All Right Reserved.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="footer-payment-method">
                        <a href="#z"><img alt="" src="/img/icon-img/7.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- all js here -->
<script src="/js/vendor/jquery-1.12.0.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/isotope.pkgd.min.js"></script>
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/ajax-mail.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>