<footer class="gray-bg footer-padding">
    <div class="container-fluid">
        <div class="footer-top pt-85 pb-25">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="footer-widget mb-30">
                        <div class="footer-widget-title">
                            <h3>Kết nối với chúng tôi</h3>
                        </div>
                        <div class="food-info-wrapper">
                            <div class="food-address">
                                <div class="food-info-icon">
                                    <i class="ion-ios-home-outline"></i>
                                </div>
                                <div class="food-info-content">
                                    <p>{{ .Site.Params.address }} </p>
                                </div>
                            </div>
                            <div class="food-address">
                                <div class="food-info-icon">
                                    <i class="ion-ios-telephone-outline"></i>
                                </div>
                                <div class="food-info-content">
                                    <p>{{ .Site.Params.phone }} </p>
                                </div>
                            </div>
                            <div class="food-address">
                                <div class="food-info-icon">
                                    <i class="ion-ios-email-outline"></i>
                                </div>
                                <div class="food-info-content">
                                    <p><a href="#">{{ .Site.Params.email }}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3">
                    <div class="footer-widget mb-30">
                        <div class="footer-widget-title">
                            <h3>Thông tin</h3>
                        </div>
                        <div class="food-widget-content">
                            <ul class="quick-link">
                                <li><a href="#">Giấy phép kinh doanh số: <strong>2100679981</strong></a></li>
                                <li><a href="#">Shipping & Thuế</a></li>
                                <li><a href="#">Chính sách đổi trả</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="footer-widget mb-30">
                        <div class="footer-widget-title">
                            <h3>Tin tức</h3>
                        </div>
                        <div class="twitter-info-wrapper">
                            <div class="single-twitter">
                                <div class="twitter-icon">
                                    <i class="ion-social-twitter-outline"></i>
                                </div>
                                <div class="twitter-content">
                                    <p>A modern <a href="#">#Shopify theme </a> <a class="link1" href="#">@devitems</a> <a class="link2" href="#">https://twitter.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom border-top-1 ptb-15">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="copyright-payment">
                        <div class="copyright">
                            <p>Copyright ©  2023 <a href="#"> Hợp tác xã thủ công mỹ nghệ <strong>Nhất Tâm</strong></a> All RIght Reserved.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="footer-payment-method">
                        <a href="#"><img alt="" src="/img/icon-img/7.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- all js here -->
<script src="/js/vendor/jquery-1.12.0.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/isotope.pkgd.min.js"></script>
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/ajax-mail.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>