<!-- header start -->
<header>
    <div class="header-area transparent-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-5 col-5">
                    <div class="language-currency">
                        <div class="language">
                            <select class="select-header orderby">
                                <option value="">T.VIỆT</option>
                                <option value="">ENGLISH </option>
                            </select>
                        </div>
                        <div class="currency">
                            <select class="select-header orderby">
                                <option value="">VNĐ</option>
                                <option value="">USD</option>
                            </select>
                        </div>
                    </div>
                    <div class="sticky-logo">
                        <a href="/"><img src="/img/logo/logo.png" alt="" style="width: 60%;" /></a>
                    </div>
                    <div class="logo-small-device">
                        <a href="/"><img alt="" src="/img/logo/logo.png"></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 d-none d-md-block">
                    <div class="logo-menu-wrapper text-center">
                        <div class="logo">
                            <a href="/"><img src="/img/logo/logo.png" alt="" width="150" height="80" /></a>
                        </div>
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li><a href="/">home </a></li>
                                    <li><a href="/about">về chúng tôi </a></li>
                                    <li><a href="/shop">shop <i class="ion-ios-arrow-down"></i></a>
                                        <ul class="mega-menu">
                                            <li>
                                                <ul>
                                                    <li class="mega-menu-title">bán chạy</li>
                                                    <li><a href="/shop#home1"> Pet House</a></li>
                                                    <li><a href="/shop#home2"> Túi xách lục bình</a></li>
                                                    <li><a href="/shop#home3"> Hàng gia dụng</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li class="mega-menu-title">mới nhất</li>
                                                    <li><a href="/shop#home1"> Pet House</a></li>
                                                    <li><a href="/shop#home2"> Túi xách lục bình</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-menu-img">
                                                <ul>
                                                    <li><a class="dot-none" href="#shop.html"><img alt="" src="#/img/banner/17.jpg"></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="/blog">Câu chuyện <i class="ion-ios-arrow-down"></i></a>
                                        <ul>
                                            <li><a href="/blog">Ý nghĩa Logo</a></li>
                                            <li><a href="#">Tin tức</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/contact">Liên hệ</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-7 col-7">
                    <div class="header-site-icon">
                        <div class="header-search same-style">
                            <button class="sidebar-trigger-search">
                                <span class="ti-search"></span>
                            </button>
                        </div>
                        <div class="header-login same-style">
                            <a href="/contact">
                                <span class="ti-user"></span>
                            </a>
                        </div>
                        <div class="header-cart same-style">
                            <button class="sidebar-trigger">
                                <i class="ti-shopping-cart"></i>
                                <span class="count-style">01</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu-area col-12">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul class="menu-overflow">
                                <li><a href="/">HOME</a>
                                </li>
                                <li><a href="/about">Về chúng tôi</a>
                                    <ul>
                                        <li><a href="#">about us</a></li>
                                        <li><a href="#cart.html">Hoạt động</a></li>
                                        <li><a href="#checkout.html">Ngành nghề</a></li>
                                        <li><a href="#wishlist.html">Sứ mệnh</a></li>
                                        <li><a href="/contact">Liên hệ</a></li>
                                    </ul>
                                </li>
                                <li><a href="/shop">shop</a>
                                    <ul>
                                        <li><a href="#">Sản phẩm mới</a>
                                            <ul>
                                                <li><a href="/shop/1"> Pet House</a></li>
                                                <li><a href="/shop/2"> Túi xách lục bình</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">phân loại</a>
                                            <ul>
                                                <li><a href="/shop#home1"> Pet House</a></li>
                                                <li><a href="/shop#home2"> Túi xách lục bình</a></li>
                                                <li><a href="/shop#home3"> Hàng gia dụng</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/blog">Câu chuyện</a>
                                    <ul>
                                        <li><a href="/blog">Ý nghĩa Logo</a></li>
                                        <li><a href="#">Tin tức</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/contact"> Liên hệ</a></li>
                            </ul>
                        </nav>							
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- sidebar-cart start -->
<div class="sidebar-cart onepage-sidebar-area">
    <div class="wrap-sidebar">
        <div class="sidebar-cart-all">
            <div class="sidebar-cart-icon">
                <button class="op-sidebar-close"><span class="ti-close"></span></button>
            </div>
            <div class="cart-content">
                <h3>Mua sản phẩm online</h3>
                <ul>
                    <li class="single-product-cart">
                        <div class="cart-img">
                            <a href="#"><img src="/img/cart/logo.png" alt=""></a>
                        </div>
                        <div class="cart-title text-center">
                            <h3><a href="https://www.facebook.com/profile.php?id=100083383260083&mibextid=LQQJ4d"> Quý khách hãy nhắn tin trên trang Facebook</a></h3>
                            <h3><a href="https://www.facebook.com/profile.php?id=100083383260083&mibextid=LQQJ4d">
                                <i class="icon ion-social-facebook-outline"></i> &nbsp; 
                                <span>{{ .Site.Params.facebook }}</span></a>
                            </h3>
                        </div>
                    </li>
                    <li class="single-product-cart">
                        <div class="cart-total">
                            <h4>Total : <span>$ 00</span></h4>
                        </div>
                    </li>
                </ul>
                <div class="cart-checkout-btn text-center">
                    <a class="cr-btn btn-style cart-btn-style" href="/shop"><i class="ti-list"></i> <span>Xem toàn bộ sản phẩm</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main-search start -->
<div class="main-search-active">
    <div class="sidebar-search-icon">
        <button class="search-close"><span class="ti-close"></span></button>
    </div>
    <div class="sidebar-search-input">
        <form action="#">
            <div class="form-search">
                <input id="search" class="input-text" value="" placeholder="Search Entire Store" type="search">
                <button>
                    <i class="ti-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>