{{ define "main" }}
    
    <div class="slider-area">
        
    </div>
    <div class="banner-area hm1-banner pt-130 pb-107">
        
    </div>
    <div class="product-area pb-80">
        <div class="container">
            <div class="section-title text-center mb-20">
                <h2>Thông tin doanh nghiệp</h2>
            </div>
            <div class="product-tab-list text-center mb-60 nav product-menu-mrg" role="tablist">
                <a class="active" href="#home1" data-toggle="tab" role="tab" aria-selected="true" aria-controls="home1">
                    <h4>Thành lập</h4>
                </a>
                <a href="#home2" data-toggle="tab" role="tab" aria-selected="false" aria-controls="home2">
                    <h4> Ngành nghề </h4>
                </a>
                <a href="#home3" data-toggle="tab" role="tab" aria-selected="false" aria-controls="home3">
                    <h4>Logo</h4>
                </a>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="home1" role="tabpanel">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/logo_product.png" alt="">
                                    </a>
                                </div>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart" title="Wishlist" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart" title="Add To Cart" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-price">
                                        <span>Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm được thành lập vào tháng 02 năm 2023.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/2.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-price">
                                        <span>Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm là một cộng đồng hợp tác của các nghệ nhân tài năng, đặc biệt chuyên về các ngành thủ công truyền thống.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/3.jpg" alt="">
                                    </a>
                                    <span>new</span>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-price">
                                        <span>Với sự kết hợp giữa sự đam mê với nghệ thuật và cam kết với việc bảo tồn và phát triển di sản văn hóa, chúng tôi tự hào là một trung tâm 
                                            nghệ thuật thủ công với chất lượng và sự sáng tạo cao.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/4.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-price">
                                        <span>Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm, một ngôi nhà của nghệ thuật và sự sáng tạo.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="home2" role="tabpanel">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/8.jpg" alt="">
                                    </a>
                                    <span>30% off</span>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-price">
                                        <span>Hợp tác xã nông nghiệp Nhất Tâm hoạt động chủ yếu trong lĩnh vực nông nghiệp, hàng thủ công, với các chuyên ngành sau:</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/7.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-price">
                                        <span>* Nhân và chăm sóc cây giống</span>
                                        <span>* Trông cây lấy sợi</span>
                                        <span>* Hoàn thiện sản phẩm dệt</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/6.jpg" alt="">
                                    </a>
                                    <span>new</span>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-price">
                                        <span>* Sản xuất vali, túi xách, yên đệm ...</span>
                                        <span>* Sản xuất các sản phẩm khác từ gỗ, tre nứa, rơm rạ và các vật liệu tết bện</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="home3" role="tabpanel">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-4">
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="product-wrapper mb-45">
                                <div class="product-img" style="width: 290px; height: 330px;">
                                    <br/><br/>
                                    <a href="#">
                                        <img src="/img/logo/logo.png" alt="">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-price">
                                        <span><strong>Logo mới của Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm: Tinh Hoa Nghệ Thuật và Hướng tới Tương Lai Bền Vững</strong></span><br/><br/>
                                        <span>Logo mang trong mình hai biểu tượng đặc trưng - ánh mặt trời và hoa sen, là biểu tượng của sức sống và sự phát triển, 
                                            trên nền xanh lá đậm, tạo nên một cảm hứng mạnh mẽ cho sự hợp tác và sự thịnh vượng.</span><br/>
                                        <span>Logo mới là một tuyên ngôn đẹp và sâu sắc về giá trị và mục tiêu của Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm. 
                                            Ánh mặt trời, với sự tươi sáng và năng lượng của nó, đại diện cho sự sáng tạo và niềm đam mê không ngừng nghỉ của các nghệ nhân 
                                            trong hợp tác xã. Nó là biểu tượng của sự tận tụy và nỗ lực không mệt mỏi trong việc bảo tồn và thúc đẩy nghệ thuật thủ công truyền thống.</span><br/>
                                        <span>Bên cạnh ánh mặt trời, hoa sen màu vàng rực rỡ là biểu tượng của sự trong sạch, sự thanh cao và sức mạnh kiên cường. Hoa sen tượng trưng 
                                            cho sự phát triển và tiến bộ của Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm trong việc xây dựng một tương lai tuyệt vời và được công nhận trên toàn cầu. 
                                            Sự kết hợp hoàn hảo giữa ánh mặt trời và hoa sen trong logo thể hiện sự hòa quyện hài hòa giữa truyền thống và sự đổi mới, 
                                            gợi nhớ về di sản phong phú và cam kết không ngừng phát triển.</span><br/>
                                        <span>Logo của Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm là sự tuyên bố vững chắc về tầm quan trọng của nghệ thuật thủ công và sự bền vững. 
                                            Nó đại diện cho tinh thần hợp tác giữa các nghệ nhân, nhằm tạo ra những tác phẩm thủ công đẳng cấp, đồng thời khẳng định cam kết của 
                                            hợp tác xã đối với việc bảo vệ và phát triển di sản văn hóa. Logo mới cũng thể hiện sự tiếp cận hiện đại và quốc tế, góp phần xây dựng 
                                            danh tiếng quốc tế cho Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm.</span><br/>    
                                        <span>Logo này không chỉ là một biểu tượng hình ảnh, mà còn mang trong mình một thông điệp sâu sắc về ý nghĩa của nghệ thuật thủ công và 
                                            sự hợp tác bền vững. Nó khẳng định cam kết của Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm trong việc tôn vinh và bảo tồn những giá trị truyền thống, 
                                            đồng thời khám phá và thể hiện sự sáng tạo và đổi mới.</span><br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        

{{ end }}
