{{ define "main" }}
    
    <div class="slider-area">
        
    </div>
    <div class="banner-area hm1-banner pt-130 pb-107">
        
    </div>
    <div class="blog-area pt-125 pb-85 blog-padding hm-blog">
        <div class="container-fluid">
            <div class="section-title text-center mb-60">
                <h2>Câu chuyện</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-hm-wrapper mb-40">
                        <div class="blog-img">
                            <a href="/blog"><img src="/img/logo/logo.png" alt="image"></a>
                        </div>
                        <div class="blog-hm-content">
                            <h3><a href="/blog">Logo mới của Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm: Tinh Hoa Nghệ Thuật và Hướng tới Tương Lai Bền Vững</a></h3>
                            <div class="blog-meta">
                                <ul>
                                    <li><span>by:</span><a href="#">Admin</a></li>
                                    <li><span>On</span> 26 Tháng 06, 2023</li>
                                </ul>
                            </div>
                            <p> Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm, một ngôi nhà của nghệ thuật và sự sáng tạo, vừa ra mắt logo mới đầy ý nghĩa, thể hiện 
                                tinh hoa nghệ thuật và cam kết của hợp tác xã trong việc xây dựng một tương lai bền vững. Logo mang trong mình hai biểu tượng 
                                đặc trưng - ánh mặt trời và hoa sen, là biểu tượng của sức sống và sự phát triển, trên nền xanh lá đậm, tạo nên một cảm hứng mạnh mẽ 
                                cho sự hợp tác và sự thịnh vượng.</p> 
                            <p> Logo mới là một tuyên ngôn đẹp và sâu sắc về giá trị và mục tiêu của Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm. Ánh mặt trời, với sự tươi sáng 
                                và năng lượng của nó, đại diện cho sự sáng tạo và niềm đam mê không ngừng nghỉ của các nghệ nhân trong hợp tác xã. Nó là biểu tượng của 
                                sự tận tụy và nỗ lực không mệt mỏi trong việc bảo tồn và thúc đẩy nghệ thuật thủ công truyền thống.</p> 
                            <p> Bên cạnh ánh mặt trời, hoa sen màu vàng rực rỡ là biểu tượng của sự trong sạch, sự thanh cao và sức mạnh kiên cường. Hoa sen tượng trưng 
                                cho sự phát triển và tiến bộ của Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm trong việc xây dựng một tương lai tuyệt vời và được công nhận trên toàn cầu. 
                                Sự kết hợp hoàn hảo giữa ánh mặt trời và hoa sen trong logo thể hiện sự hòa quyện hài hòa giữa truyền thống và sự đổi mới, gợi nhớ về 
                                di sản phong phú và cam kết không ngừng phát triển.</p><br/> 
                            <p> Logo của Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm là sự tuyên bố vững chắc về tầm quan trọng của nghệ thuật thủ công và sự bền vững. Nó đại diện cho 
                                tinh thần hợp tác giữa các nghệ nhân, nhằm tạo ra những tác phẩm thủ công đẳng cấp, đồng thời khẳng định cam kết của hợp tác xã đối với 
                                việc bảo vệ và phát triển di sản văn hóa. Logo mới cũng thể hiện sự tiếp cận hiện đại và quốc tế, góp phần xây dựng danh tiếng quốc tế 
                                cho Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm.</p> 
                            <p> Logo này không chỉ là một biểu tượng hình ảnh, mà còn mang trong mình một thông điệp sâu sắc về ý nghĩa của nghệ thuật thủ công và 
                                sự hợp tác bền vững. Nó khẳng định cam kết của Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm trong việc tôn vinh và bảo tồn những giá trị truyền thống, 
                                đồng thời khám phá và thể hiện sự sáng tạo và đổi mới.</p> 
                            <p> Chúng tôi rất tự hào khi giới thiệu logo mới này và tin rằng nó sẽ là một biểu tượng đại diện mạnh mẽ cho Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm 
                                trên sân khấu quốc tế. Logo sẽ xuất hiện trên mọi văn bản, sản phẩm và nền tảng kỹ thuật số của chúng tôi, gửi thông điệp rằng chúng tôi cam kết 
                                đem đến những sản phẩm thủ công tuyệt vời, sự hợp tác bền vững và văn hóa đa dạng cho cộng đồng quốc tế.</p> 
                        
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                </div>
            </div>
        </div>
    </div>
        

{{ end }}
