{{ define "main" }}
    
    <div class="slider-area">
        
    </div>
    <div class="banner-area hm1-banner pt-130 pb-107">
        
    </div>
    <div class="product-area pb-80">
        <div class="container">
            <div class="section-title text-center mb-20">
                <h2>Kết nối với chúng tôi</h2>
            </div>
            <div class="product-tab-list text-center mb-60 nav product-menu-mrg" role="tablist">
                <a class="active" href="#home1" data-toggle="tab" role="tab" aria-selected="true" aria-controls="home1">
                    <h4>Địa chỉ</h4>
                </a>
                <a href="#home2" data-toggle="tab" role="tab" aria-selected="false" aria-controls="home2">
                    <h4> Điện thoại </h4>
                </a>
                <a href="#home3" data-toggle="tab" role="tab" aria-selected="false" aria-controls="home3">
                    <h4>Mạng xã hội</h4>
                </a>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="home1" role="tabpanel">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-price">
                                        <span>Hợp tác xã nông nghiệp Nhất Tâm được thành lập vào tháng 02 năm 2023.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/2.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-price">
                                        <span>Hợp tác xã nông nghiệp Nhất Tâm được thành lập vào tháng 02 năm 2023.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/3.jpg" alt="">
                                    </a>
                                    <span>new</span>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h4>Hợp tác xã nông nghiệp Nhất Tâm được thành lập vào tháng 02 năm 2023</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/4.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h4>Hợp tác xã nông nghiệp Nhất Tâm được thành lập vào tháng 02 năm 2023</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="home2" role="tabpanel">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/8.jpg" alt="">
                                    </a>
                                    <span>30% off</span>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-content">
                                        <div class="product-price">
                                            <span>Hợp tác xã nông nghiệp Nhất Tâm hoạt động chủ yếu trong lĩnh vực nông nghiệp, hàng thủ công, với các chuyên ngành sau:</span>
                                        </div>
                                    </div>
                                        <h4>* Nhân và chăm sóc cây giống</h4>
                                        <h4>* Trông cây lấy sợi</h4>
                                        <h4>* Hoàn thiện sản phẩm dệt</h4>
                                        <h4>* Sản xuất vali, túi xách, yên đệm ...</h4>
                                        <h4>* Sản xuất các sản phẩm khác từ gỗ, tre nứa, rơm rạ và các vật liệu tết bện</h4>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/7.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content text-center">
                                    <h4><a href="product-details.html">Rattan Chair</a></h4>
                                    <div class="product-rating">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star-outline"></i>
                                        <i class="ion-ios-star-outline"></i>
                                        <i class="ion-ios-star-outline"></i>
                                    </div>
                                    <div class="product-price">
                                        <span>$25.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/6.jpg" alt="">
                                    </a>
                                    <span>new</span>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content text-center">
                                    <h4><a href="product-details.html">Rattan Dustbin</a></h4>
                                    <div class="product-rating">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star-outline"></i>
                                        <i class="ion-ios-star-outline"></i>
                                        <i class="ion-ios-star-outline"></i>
                                    </div>
                                    <div class="product-price">
                                        <span class="old">$33.00 </span>
                                        <span>$27.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="home3" role="tabpanel">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/4.jpg" alt="">
                                    </a>
                                    <span>30% off</span>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content text-center">
                                    <h4><a href="product-details.html">Rattan Tissue Holder</a></h4>
                                    <div class="product-rating">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star-outline"></i>
                                        <i class="ion-ios-star-outline"></i>
                                        <i class="ion-ios-star-outline"></i>
                                    </div>
                                    <div class="product-price">
                                        <span class="old">$22.00 </span>
                                        <span>$19.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/3.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content text-center">
                                    <h4><a href="product-details.html">Rattan Chair</a></h4>
                                    <div class="product-rating">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star-outline"></i>
                                        <i class="ion-ios-star-outline"></i>
                                        <i class="ion-ios-star-outline"></i>
                                    </div>
                                    <div class="product-price">
                                        <span>$25.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        

{{ end }}
