{{ define "main" }}
    
    <div class="slider-area">
        
    </div>
    <div class="banner-area hm1-banner pt-130 pb-107">
        
    </div>
    <div class="product-area pb-80">
        <div class="container">
            <div class="section-title text-center mb-20">
                <h2>Kết nối với chúng tôi</h2>
            </div>
            <div class="product-tab-list text-center mb-60 nav product-menu-mrg" role="tablist">
                <a class="active" href="#home1" data-toggle="tab" role="tab" aria-selected="true" aria-controls="home1">
                    <h4>Liên hệ</h4>
                </a>
                <a href="#home2" data-toggle="tab" role="tab" aria-selected="false" aria-controls="home2">
                    <h4> Mạng xã hội </h4>
                </a>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="home1" role="tabpanel">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div class="food-info-wrapper">
                                <div class="food-address">
                                    <div class="food-info-icon">
                                        <i class="ion-ios-home-outline"></i>
                                    </div>
                                    <div class="food-info-content">
                                        <h4><span class="text-secondary">Địa chỉ:</span> {{ .Site.Params.address }}</h4>
                                    </div>
                                </div>
                                <div class="food-address">
                                    <div class="food-info-icon">
                                        <i class="ion-ios-telephone-outline"></i>
                                    </div>
                                    <div class="food-info-content">
                                        <h4><span class="text-secondary">Điện thoại:</span>  {{ .Site.Params.phone }} </h4>
                                    </div>
                                </div>
                                <div class="food-address">
                                    <div class="food-info-icon">
                                        <i class="ion-social-facebook-outline"></i>
                                    </div>
                                    <div class="food-info-content">
                                        <h4><span class="text-secondary">Facebook:</span>  
                                            <a style="color: #f3a395;" href="https://www.facebook.com/profile.php?id=100083383260083&mibextid=LQQJ4d">
                                                {{ .Site.Params.facebook }}
                                            </a></span>
                                        </h4>
                                    </div>
                                </div>
                                <div class="food-address">
                                    <div class="food-info-icon">
                                        <i class="ion-ios-email-outline"></i>
                                    </div>
                                    <div class="food-info-content">
                                        <h4><span class="text-secondary">Email:</span>  {{ .Site.Params.email }}</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-4"></div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <br/><br/>
                                    <a href="#">
                                        <img src="/img/product/logo_product.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div class="food-info-wrapper">
                                <h4>Về Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm:</h4>
                                <p><strong>Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm</strong> là một cộng đồng hợp tác của các nghệ nhân tài năng, 
                                    đặc biệt chuyên về các ngành thủ công truyền thống. Với sự kết hợp giữa sự đam mê với 
                                    nghệ thuật và cam kết với việc bảo tồn và phát triển di sản văn hóa, chúng tôi tự hào 
                                    là một trung tâm nghệ thuật thủ công với chất lượng và sự sáng tạo cao.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="home2" role="tabpanel">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div class="food-info-wrapper">
                                <div class="food-address">
                                    <div class="food-info-icon">
                                        <i class="ion-social-facebook-outline"></i>
                                    </div>
                                    <div class="food-info-content">
                                        <h4><span class="text-secondary"> Facebook:</span>  
                                            <a style="color: #f3a395;" href="https://www.facebook.com/profile.php?id=100083383260083&mibextid=LQQJ4d">
                                                {{ .Site.Params.facebook }}
                                            </a></span>
                                        </h4>
                                    </div>
                                </div>
                                <div class="food-address">
                                    <div class="food-info-icon">
                                        <i class="icon ion-social-rss-outline"></i>
                                    </div>
                                    <div class="food-info-content">
                                        <h4><span class="text-secondary">Tiktok:</span> 0703222259 </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-4"></div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <br/><br/>
                                    <a href="#">
                                        <img src="/img/product/logo_product.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div class="food-info-wrapper">
                                <h4>Về Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm:</h4>
                                <p><strong>Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm</strong> là một cộng đồng hợp tác của các nghệ nhân tài năng, 
                                    đặc biệt chuyên về các ngành thủ công truyền thống. Với sự kết hợp giữa sự đam mê với 
                                    nghệ thuật và cam kết với việc bảo tồn và phát triển di sản văn hóa, chúng tôi tự hào 
                                    là một trung tâm nghệ thuật thủ công với chất lượng và sự sáng tạo cao.</p>
                            </div>
                        </div>
                    </div>
                </div>     
            </div>
        </div>
    </div>
        

{{ end }}
