{{ define "main" }}
    
    <div class="slider-area">
        
    </div>
    <div class="banner-area hm1-banner pt-130 pb-107">
        
    </div>
    <div class="product-area pb-80">
        <div class="container">
            <div class="section-title text-center mb-20">
                <h2>Chi tiết</h2>
            </div>
            <div class="product-tab-list text-center mb-60 nav product-menu-mrg" role="tablist">
                <a data-toggle="tab" role="tab" aria-selected="true" aria-controls="home1">
                    <h4> </h4>
                </a>
                <a class="active" href="#home2" data-toggle="tab" role="tab" aria-selected="false" aria-controls="home2">
                    <h4 id="product-detail"> Chi tiết sản phẩm </h4>
                </a>
                <a data-toggle="tab" role="tab" aria-selected="false" aria-controls="home3">
                    <h4>  </h4>
                </a>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="home1" role="tabpanel">
                    <div class="offset-md-3 col-md-6 col-lg-6 col-xl-6">
                        <div class="product-wrapper mb-45">
                            <div class="product-img">
                                <a href="#product-detail">
                                    <img src="{{ .Params.image_lg }}" alt="{{ .Params.title }}">
                                </a>
                                <div class="product-action">
                                    <div class="product-action-style">
                                        <a class="action-plus sidebar-trigger" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                            <i class="ti-plus"></i>
                                        </a>
                                        <a class="action-heart sidebar-trigger" title="Wishlist" href="#">
                                            <i class="ti-heart"></i>
                                        </a>
                                        <a class="action-cart sidebar-trigger" title="Add To Cart" href="#">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h3><a href="#">{{ .Params.title }}</a></h3>
                                <h4>{{ .Params.description }}</h4>
                                <div class="product-rating">
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                    <i class="ion-ios-star"></i>
                                </div>
                                <div class="product-price">
                                    <span>{{ .Params.price }}</span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="cart-checkout-btn text-center">
                    <a class="cr-btn btn-style cart-btn-style" href="/shop"><i class="ti-list"></i> <span>Trở về Danh mục sản phẩm</span></a>
                </div>
            </div>
        </div>
    </div>
        

{{ end }}
