{{ define "main" }}
    
    <div class="slider-area">
        
    </div>
    <div class="banner-area hm1-banner pt-130 pb-107">
        
    </div>
    <div class="product-area pb-80">
        <div class="container">
            
          <h2 class="text-center text-danger">Page Not Found</h2>
          <h3>
            Bạn đang truy cập một trang không tồn tại, hoặc đang xây dựng. Vui lòng về lại trang Home
          </h3>
          <div class="row text-center">
            <a href="/" class="btn btn-primary">Về trang Home</a>
          </div>
                
        </div>
    </div>
        

{{ end }}
