{{ define "main" }}
 
    <div class="slider-area">
        <div class="slider-active owl-carousel">
            <div class="single-slider slider-1 gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="slider-content slider-animated-1">
                                <h2 class="animated">Khuyến mãi <span>10%</span> ngay trong dịp hè </h2>
                                <p class="animated">Những sản phẩm thủ công (được làm từ lục bình) tinh tế, chất lượng cao và thân thiện với môi trường.</p>
                                <a class="slider-btn animated" href="/shop">shop now</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="slider-single-img slider-animated-1">
                                <img class="animated" src="/img/slider/1.png" alt="slider images">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-1 gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="slider-content slider-animated-2">
                                <h2 class="animated">Sale off <span>10%</span> for all </h2>
                                <p class="animated">Các sản phẩm thủ công từ lục bình</p>
                                <a class="slider-btn animated" href="shop.html">shop now</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="slider-single-img slider-animated-2">
                                <img class="animated" src="/img/slider/4.png" alt="slider images">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-area hm1-banner pt-130 pb-107">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="banner-wrapper banner-border ml-10 mb-30">
                        <div class="banner-img">
                            <a href="#"><img src="/img/banner/1.jpg" alt="image"></a>
                        </div>
                        <div class="banner-content-style1 banner-position-center-right">
                            <h2>30% <span><img src="/img/icon-img/discount.png" alt="image"></span> <br>Sản phẩm</h2>
                        </div>
                    </div>
                    <div class="banner-wrapper banner-border ml-10 mb-30">
                        <div class="banner-img">
                            <a href="#"><img src="/img/banner/pet.png" alt="image"></a>
                        </div>
                        <div class="banner-content-style2 banner-position-center-left">
                            <h3><strong>PET HOUSE</strong></h3>
                            <h2><span>Ngôi nhà thú cưng</span></h2>
                            <h3>350.000 VNĐ</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="banner-wrapper mrg-mb-md">
                        <div class="banner-img">
                            <a href="#"><img src="/img/banner/3.jpg" alt="image"></a>
                        </div>
                        <div class="banner-content-style3 banner-position-top">
                            <h3>Khuyến mãi dịp hè</h3>
                        </div>
                        <div class="banner-content-style4 banner-position-bottom">
                            <h3>10% Off</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="banner-wrapper banner-border-2 mr-10 mb-30">
                        <div class="banner-img">
                            <a href="#"><img src="/img/banner/4.jpg" alt="image"></a>
                        </div>
                        <div class="banner-content-style2 banner-position-center-left">
                            <h3>Đừng bỏ lỡ</h3>
                            <h2>Water Hyacinth <span>Lamp.</span></h2>
                        </div>
                    </div>
                    <div class="banner-wrapper banner-border-2 mr-10 mb-30">
                        <div class="banner-img">
                            <a href="#"><img src="/img/banner/5.jpg" alt="image"></a>
                        </div>
                        <div class="banner-content-style1 banner-position-center-right">
                            <h2>30% <span> <img src="/img/icon-img/discount.png" alt="image"></span> <br>Products</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-area pb-80">
        <div class="container">
            <div class="section-title text-center mb-20">
                <h2>Sản phẩm tiêu biểu</h2>
            </div>
            <div class="product-tab-list text-center mb-60 nav product-menu-mrg" role="tablist">
                <a class="active" href="#home1" data-toggle="tab" role="tab" aria-selected="true" aria-controls="home1">
                    <h4>Bán chạy </h4>
                </a>
                <a href="#home2" data-toggle="tab" role="tab" aria-selected="false" aria-controls="home2">
                    <h4> Mới nhất </h4>
                </a>
                <a href="#home3" data-toggle="tab" role="tab" aria-selected="false" aria-controls="home3">
                    <h4>Sale Off</h4>
                </a>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="home1" role="tabpanel">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/5.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content text-center">
                                    <h4><a href="product-details.html">Water Hyacinth Tissue Holder</a></h4>
                                    <div class="product-rating">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star-outline"></i>
                                    </div>
                                    <div class="product-price">
                                        <span class="old">$22.00 </span>
                                        <span>$19.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/6.jpg" alt="">
                                    </a>
                                    <span>hot</span>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content text-center">
                                    <h4><a href="product-details.html">Water Hyacinth Chair</a></h4>
                                    <div class="product-rating">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star-outline"></i>
                                    </div>
                                    <div class="product-price">
                                        <span>$90.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/7.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content text-center">
                                    <h4><a href="product-details.html">Water Hyacinth Product</a></h4>
                                    <div class="product-rating">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star-outline"></i>
                                    </div>
                                    <div class="product-price">
                                        <span>$75.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/8.jpg" alt="">
                                    </a>
                                    <span>50% off</span>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content text-center">
                                    <h4><a href="product-details.html">Water Hyacinth Bag</a></h4>
                                    <div class="product-rating">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star-outline"></i>
                                    </div>
                                    <div class="product-price">
                                        <span class="old">$22.00 </span>
                                        <span>$19.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="home2" role="tabpanel">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/8.jpg" alt="">
                                    </a>
                                    <span>30% off</span>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content text-center">
                                    <h4><a href="product-details.html">Water Hyacinth Tissue Holder</a></h4>
                                    <div class="product-rating">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star-outline"></i>
                                    </div>
                                    <div class="product-price">
                                        <span class="old">$22.00 </span>
                                        <span>$19.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/7.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content text-center">
                                    <h4><a href="product-details.html">Water Hyacinth Chair</a></h4>
                                    <div class="product-rating">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star-outline"></i>
                                    </div>
                                    <div class="product-price">
                                        <span>$25.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/6.jpg" alt="">
                                    </a>
                                    <span>new</span>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content text-center">
                                    <h4><a href="product-details.html">Water Hyacinth Dustbin</a></h4>
                                    <div class="product-rating">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star-outline"></i>
                                    </div>
                                    <div class="product-price">
                                        <span class="old">$33.00 </span>
                                        <span>$27.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/5.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content text-center">
                                    <h4><a href="product-details.html">Water Hyacinth Cat Chair</a></h4>
                                    <div class="product-rating">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star-outline"></i>
                                    </div>
                                    <div class="product-price">
                                        <span>$50.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="home3" role="tabpanel">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/4.jpg" alt="">
                                    </a>
                                    <span>30% off</span>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content text-center">
                                    <h4><a href="product-details.html">Water Hyacinth Tissue Holder</a></h4>
                                    <div class="product-rating">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star-outline"></i>
                                        <i class="ion-ios-star-outline"></i>
                                        <i class="ion-ios-star-outline"></i>
                                    </div>
                                    <div class="product-price">
                                        <span class="old">$22.00 </span>
                                        <span>$19.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/3.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content text-center">
                                    <h4><a href="product-details.html">Water Hyacinth Chair</a></h4>
                                    <div class="product-rating">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star-outline"></i>
                                        <i class="ion-ios-star-outline"></i>
                                        <i class="ion-ios-star-outline"></i>
                                    </div>
                                    <div class="product-price">
                                        <span>$25.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/2.jpg" alt="">
                                    </a>
                                    <span>new</span>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content text-center">
                                    <h4><a href="product-details.html">Water Hyacinth Dustbin</a></h4>
                                    <div class="product-rating">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star-outline"></i>
                                        <i class="ion-ios-star-outline"></i>
                                        <i class="ion-ios-star-outline"></i>
                                    </div>
                                    <div class="product-price">
                                        <span class="old">$33.00 </span>
                                        <span>$27.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/1.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content text-center">
                                    <h4><a href="product-details.html">Water Hyacinth Cat Chair</a></h4>
                                    <div class="product-rating">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star-outline"></i>
                                        <i class="ion-ios-star-outline"></i>
                                        <i class="ion-ios-star-outline"></i>
                                    </div>
                                    <div class="product-price">
                                        <span>$50.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-area pb-95">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-wrapper overflow mb-30">
                        <div class="banner-img">
                            <a href="#">
                                <img alt="image" src="/img/banner/6.jpg">
                            </a>
                        </div>
                        <div class="banner-content-5">
                            <h4>New Arrivals</h4>
                            <h2>Water Hyacinth Sofa</h2>
                            <h3>Sale up to 30% off all</h3>
                            <a href="#" class="banner-btn">View Collection</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner-wrapper overflow mb-30">
                        <div class="banner-img">
                            <a href="#">
                                <img alt="image" src="/img/banner/7.jpg">
                            </a>
                        </div>
                        <div class="banner-content-5">
                            <h4>Best Products</h4>
                            <h2>Water Hyacinth Accessories</h2>
                            <h3>Sale up to 40% off all</h3>
                            <a href="#" class="banner-btn">View Collection</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="new-collection-area pb-90">
        <div class="container">
            <div class="section-title text-center mb-55">
                <h2>New Collection</h2>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="new-collection-slider owl-carousel mb-30">
                        <div class="single-new-collection">
                            <a href="shop.html"><img alt="image" src="/img/product/9.jpg"></a>
                            <div class="new-collection-content slider-animated-3">
                                <h2 class="animated">Black Friday Offer</h2>
                                <a href="#" class="btn-style cr-btn animated"><span>shop now</span></a>
                            </div>
                        </div>
                        <div class="single-new-collection">
                            <a href="shop.html"><img alt="image" src="/img/product/10.jpg"></a>
                            <div class="new-collection-content slider-animated-4">
                                <h2 class="animated">Black Friday Offer</h2>
                                <a href="#" class="btn-style cr-btn animated"><span>shop now</span></a>
                            </div>
                        </div>
                        <div class="single-new-collection">
                            <a href="shop.html"><img alt="image" src="/img/product/11.jpg"></a>
                            <div class="new-collection-content slider-animated-3">
                                <h2 class="animated">Black Friday Offer</h2>
                                <a href="#" class="btn-style cr-btn animated"><span>shop now</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/3.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content text-center">
                                    <h4><a href="product-details.html">Water Hyacinth Tissue Holder</a></h4>
                                    <div class="product-rating">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                    </div>
                                    <div class="product-price">
                                        <span>$20.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="product-wrapper mb-45">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/img/product/4.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        <div class="product-action-style">
                                            <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                                <i class="ti-plus"></i>
                                            </a>
                                            <a class="action-heart" title="Wishlist" href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            <a class="action-cart" title="Add To Cart" href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content text-center">
                                    <h4><a href="product-details.html">Water Hyacinth Cat Chair</a></h4>
                                    <div class="product-rating">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star-outline"></i>
                                    </div>
                                    <div class="product-price">
                                        <span>$25.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dealy-of-product-area gray-bg dealy-mrg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <div class="dealy-product-img wow fadeInLeft">
                        <img src="/img/banner/1.png" alt="image">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 dealy-product-content-center">
                    <div class="dealy-product-content">
                        <h3><a href="#">Pet House</a></h3>
                        <h4><a href="#">Ngôi nhà thú cưng</a></h4>
                        <div class="dealy-rating">
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                        </div>
                        <div class="dealy-price">
                            <span class="old"></span>
                            <span>350.000 VNĐ</span>
                        </div>
                        <div class="timer">
                            <div data-countdown="2023/08/31"></div>
                        </div>
                        <a href="#" class="btn-style cr-btn"><span>shop now</span></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="dealy-product-img wow fadeInRight f-right">
                        <img src="/img/banner/2.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-area pt-125 pb-85 blog-padding hm-blog">
        <div class="container-fluid">
            <div class="section-title text-center mb-60">
                <h2>Câu chuyện</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-hm-wrapper mb-40">
                        <div class="blog-img">
                            <a href="/blog"><img src="/img/blog/logo_blog.png" alt="image"></a>
                        </div>
                        <div class="blog-hm-content">
                            <h3><a href="/blog">Logo mới của Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm: Tinh Hoa Nghệ Thuật và Hướng tới Tương Lai Bền Vững</a></h3>
                            <div class="blog-meta">
                                <ul>
                                    <li><span>by:</span><a href="#">Admin</a></li>
                                    <li><span>On</span> 26 Tháng 06, 2023</li>
                                </ul>
                            </div>
                            <p> Hợp Tác xã Thủ công mỹ nghệ Nhất Tâm, một ngôi nhà của nghệ thuật và sự sáng tạo, vừa ra mắt logo mới đầy ý nghĩa, thể hiện 
                                tinh hoa nghệ thuật và cam kết của hợp tác xã trong việc xây dựng một tương lai bền vững. Logo mang trong mình hai biểu tượng 
                                đặc trưng - ánh mặt trời và hoa sen, là biểu tượng của sức sống và sự phát triển, trên nền xanh lá đậm, tạo nên một cảm hứng mạnh mẽ 
                                cho sự hợp tác và sự thịnh vượng ... </p> 
                                <a class="action-heart" title="Đọc tiếp" href="/blog">
                                    <i class="ti-heart"></i> Đọc tiếp
                                </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="ion-android-close" aria-hidden="true"></span>
        </button>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="qwick-view-left">
                        <div class="quick-view-learg-img">
                            <div class="quick-view-tab-content tab-content">
                                <div class="tab-pane active show fade" id="modal1" role="tabpanel">
                                    <img src="/img/quick-view/l1.jpg" alt="">
                                </div>
                                <div class="tab-pane fade" id="modal2" role="tabpanel">
                                    <img src="/img/quick-view/l2.jpg" alt="">
                                </div>
                                <div class="tab-pane fade" id="modal3" role="tabpanel">
                                    <img src="/img/quick-view/l3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="quick-view-list nav" role="tablist">
                            <a class="active" href="#modal1" data-toggle="tab" role="tab" aria-selected="true" aria-controls="home1">
                                <img src="/img/quick-view/s1.jpg" alt="">
                            </a>
                            <a href="#modal2" data-toggle="tab" role="tab" aria-selected="false" aria-controls="home2">
                                <img src="/img/quick-view/s2.jpg" alt="">
                            </a>
                            <a href="#modal3" data-toggle="tab" role="tab" aria-selected="false" aria-controls="home3">
                                <img src="/img/quick-view/s3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="qwick-view-right">
                        <div class="qwick-view-content">
                            <h3>Handcrafted Supper Mug</h3>
                            <div class="price">
                                <span class="new">$90.00</span>
                                <span class="old">$120.00  </span>
                            </div>
                            <div class="rating-number">
                                <div class="quick-view-rating">
                                    <i class="ion-ios-star red-star"></i>
                                    <i class="ion-ios-star red-star"></i>
                                    <i class="ion-ios-star red-star"></i>
                                    <i class="ion-ios-star red-star"></i>
                                    <i class="ion-ios-star red-star"></i>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do tempor incididun ut labore et dolore magna aliqua. Ut enim ad mi , quis nostrud veniam exercitation .</p>
                            <div class="quick-view-select">
                                <div class="select-option-part">
                                    <label>Size*</label>
                                    <select class="select">
                                        <option value="">- Please Select -</option>
                                        <option value="">900</option>
                                        <option value="">700</option>
                                    </select>
                                </div>
                                <div class="select-option-part">
                                    <label>Color*</label>
                                    <select class="select">
                                        <option value="">- Please Select -</option>
                                        <option value="">orange</option>
                                        <option value="">pink</option>
                                        <option value="">yellow</option>
                                    </select>
                                </div>
                            </div>
                            <div class="quickview-plus-minus">
                                <div class="cart-plus-minus">
                                    <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
                                </div>
                                <div class="quickview-btn-cart">
                                    <a class="btn-style cr-btn" href="#"><span>add to cart</span></a>
                                </div>
                                <div class="quickview-btn-wishlist">
                                    <a class="btn-hover cr-btn" href="#"><span><i class="ion-ios-heart-outline"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{ end }}
